*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

div, section{
    border: solid black 1px;
    width: 80vw;
    height: 15vh;
    margin-left: 10vw;
    margin-bottom: 15vh;
}

main{
    margin-top: 10vh; 
}

section{
    background-color: #e4f0e0;
}