*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: sans-serif;
}

.left-screen-side, .right-screen-side{
    width: 50vw;
    height: 95vh;
    position: fixed;
    top: 0;
}

.left-screen-side{
    left: 0;
    background-color: #1da1f2;
    position: relative;
    background-image: url(image-Twitter-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.right-screen-side{
    right: 0;
}


nav{
    height: 5vh;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    border-top:solid black 0.01vw;
}

.feature-pannel, .join-pannel{
/*    centering*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box *{
    display: inline;
}

.text-box{
    color: white;
    padding-bottom: 6%;
    white-space: nowrap;
}


.text-box i{
    padding-right: 2%;
    font-size: 1vw;
}

.join-pannel i{
    color: #1da1f2;
    font-size: 3vw;
}

.join-pannel p{
    font-weight: bold;
}

.join-pannel h2{
    padding-top: 2%;
    padding-bottom: 12%;
}

.join-pannel button{
    display: block;
    margin-top: 5%;
    width: 100%;
    border:solid #1da1f2;
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    height: 3vh;
}

.join-pannel button:first-of-type{
    color: white;
    background-color: #1da1f2;
}

.join-pannel button:last-of-type{
    color: #1da1f2;
}

.password{
    display: inline;
}

.navtext{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.navtext p{
    color: lightgray;
    display: inline;
    padding-right: 1vw;
}

